<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transporter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</tr>
        </thead>
        <tbody>
            <th:block th:each="passenger : ${passengers}">
                <tr>
                    <td th:text="${passenger.name}"></td>
                    <td th:text="${passenger.email}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
    </div>
</body>
</html>