<div class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h1 class="cover-heading">
            Foglalj időpontot Szegedre vagy Szabadkára.
        </h1>
        <div *ngIf="transports" class="container">
            <div class="row">
                <div class="col-sm">Útirány</div>
                <div class="col-sm">
                    Szabad ülőhelyek:
                </div>
                <div class="col-sm">
                    Indulás ideje:
                </div>
                <div class="col-sm"></div>
            </div>
            <div *ngFor="let transport of transports" class="row">
                <div
                    *ngIf="
                        transport.route === 'FROM_HUNGARY_TO_SERBIA';
                        then hunser;
                        else serhun
                    "
                    class="col-sm"
                ></div>
                <ng-template #serhun>
                    Szabadkáról Szegedre
                </ng-template>
                <ng-template #hunser>
                    Szegedről Szabadkára
                </ng-template>
                <div class="col-sm">
                    {{ transport.freeSeats }}
                </div>
                <div class="col-sm">
                    {{ transport.departureTime.year }}.
                    {{ transport.departureTime.monthValue | digit }}.
                    {{ transport.departureTime.dayOfMonth | digit }}.
                    {{ transport.departureTime.dayOfWeek | weekday }}
                    {{ transport.departureTime.hour | digit }}:{{
                        transport.departureTime.minute | digit
                    }}
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-dark">Foglalok</button>
                </div>
            </div>
        </div>
    </div>
</div>
