<div class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class="cover-heading">Foglalj időpontot Szegedre vagy Szabadkára.</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex asperiores
      alias deleniti at vel voluptatum fugit, quae odio libero quis cumque
      maiores ipsam eligendi nisi aperiam. Maxime ratione repellat incidunt!
    </p>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex asperiores
      alias deleniti at vel voluptatum fugit, quae odio libero quis cumque
      maiores ipsam eligendi nisi aperiam. Maxime ratione repellat incidunt!
    </p>
  </div>
</div>
