$breakpoint-small: 'screen and (max-width: 744px)';
$breakpoint-not-small: 'screen and (min-width: 744px)';
$breakpoint-medium: 'screen and (min-width: 744px) and (max-width: 1128px)';
$breakpoint-large: 'screen and (min-width: 1128px)';

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 11px;
}

h1 {
  font-size: 2rem;
}

button {
  padding: 6px;
}

select {
  margin-bottom: 1em;
  padding: 0.25em;
  border: 0;
  border-bottom: 2px solid currentcolor;
  font-weight: bold;
  letter-spacing: 0.15em;
  border-radius: 0;
  &:focus,
  &:active {
    outline: 0;
    border-bottom-color: red;
  }
}
