<form>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Indulás ideje</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [value]="transport.departureTime" disabled />
    </div>
  </div>
  <div class="form-group row">
    <label for="plainPassword" class="col-sm-2 col-form-label">Útvonal</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        [value]="transport.route === 'FROM_HUNGARY_TO_SERBIA' ? 'Szegedről Szabadkára' : 'Szabadkáról Szegedre'"
        disabled
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="plainPassword" class="col-sm-2 col-form-label">Szabad ülőhelye</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" [value]="transport.freeSeats" disabled />
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">
        Találkozási pont
      </legend>
      <div class="col-sm-10">
        <select *ngIf="transport.route === 'FROM_HUNGARY_TO_SERBIA'; else serhun" required>
          <option *ngFor="let item of LocationHungary | keyvalue" [value]="item.key">{{ item.value }}</option>
        </select>
        <ng-template #serhun>
          <select required>
            <option *ngFor="let item of LocationSerbia | keyvalue" [value]="item.key">{{ item.value }}</option>
          </select>
        </ng-template>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Lefoglalom</button>
    </div>
  </div>
</form>
